langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchainhub
langchain_text_splitters
langchain-huggingface
langgraph-cli[inmem]
python-dotenv
faiss-cpu
streamlit
tavily-python
beautifulsoup4
sentence-transformers
tiktoken
langchain-openai
fastapi
uvicorn[standard]
pydantic                                        
requests
psycopg[binary]
