langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-groq
langchainhub
langchain_text_splitters
langchain-huggingface
langgraph-cli[inmem]
python-dotenv
faiss-cpu
streamlit
tavily-python
fastapi
uvicorn[standard]
requests
beautifulsoup4 